<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}EduMedia Author{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body{% block body_extra %}{% endblock %}>
    <main class="container{% block container_class %}{% endblock %}">
      {% block content %}{% endblock %}
    </main>
    <script src="/static/js/app.js"></script>
  </body>
</html>
